# === Fichiers sensibles ===
.env

# === Base de données ===
*.db
data/*.db

# === Python cache ===
__pycache__/
*.pyc

# === Ancien code ===
old/

# === Environnement virtuel ===
.venv/

# === IDE ===
.idea/
desktop.ini

# === Flask instance ===
instance/

firebase-adminsdk.json